@media screen and (max-width: 767px) {
    body{
        height: 450px;
        width: 300px;
    }
    
    header div{
        height: 100px;
        background-color: #141f40;
    }
    
    .left{
        width: 100px;
        height: 250px;
        background-color: #80bfa8;
        float: left;
    }
    
    .right{
        width: 75px;
        height: 150px;
        background-color: #ff9e6b;
        float: right; 
    }
    
    .centertop{
        width: 125px;
        height: 50px;
        background-color: #dbd400;
        float: right;
    }
    
    
    .center{
        width: 125px;
        height: 100px;
        background-color: #0093b7;
        float: right;
    }
    
    .bottom{
        width: 200px;
        height: 100px;
        background-color: #8c2727;
        float: right;
    }
    
    footer div{
        width: 300px;
        height: 100px;
        background-color: #d98d30;
        /* clear: both; */
    }
}