@charset 'utf-8';
*{
    margin: 0;
    padding: 0;
}

.clearfix::after{
    display: block;
    content: '';
    clear: both;
}

body{
    width: 400px;
    height: 450px;
}

header{
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

 .contents{ 
    width: 400px;
    height: 250px;
}

.contents_left{
    width: 250px;
    height: 250px;
}

.left{
    width: 100px;
    height: 150px;
    background-color: #dbd403;
    float: left;
}

.top{
    width: 150px;
    height: 50px;
    background-color: #8c2727;
    float: right;
}

.center{
    width: 150px;
    height: 100px;
    background-color: #ff9e6b;
    float: right;
}

.bottom{
    width: 250px;
    height: 100px;
    background-color: #0093b7;
    float: left;
}

.right{
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: right;
}

footer div{
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}